#button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    text-decoration: none; /* Remove o sublinhado do link */
    border-radius: 5px; /* Arredonda as bordas */
}

.profile {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 30px;
    justify-content: space-between; 
} 
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
}
.profile-info h1 {
    margin: 0 0 10px 0;
    color: #60A5FA;
}
.profile-info p {
    margin: 0;
    color: #9CA3AF;
}