
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1F2937;
    color: white;
}
.profile {
    background-color: #374151;
    border-radius: 12px;
    padding: 32px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
.profile img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
}
.profile h1 {
    margin: 0;
    font-size: 24px;
}
.profile p {
    color: #9CA3AF;
    margin-bottom: 24px;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.redes_sociais{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.btn {
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}
.btn-portfolio { background-color: #0369A1 ; }
.btn-contact { background-color: #0369A1; }
.btn-github { width: 50%; background-color: #24292E; }
.btn-linkedin { width: 50%; background-color: #0A66C2; }

.btn:hover {
    background-color: #4B5563;
}

@media (max-width: 768px) {
    .profile{
        margin: 30px;
    }
}
