
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

:root {
    --text-color: white;
    --bg-container: #1F2937;
    --bg-profile: #374151;
    --btn-switch: url("../assets/lua.svg");
    --bg-btn: #0369A1;
    --btn-git: #24292E;
    --btn-linkedin: #0A66C2;
    --hover: #4B5563;
    --btn-lang: url("../assets/eua.svg");
}

.light {
    --text-color: black;
    --bg-container: #EFF6FF;
    --bg-profile: white;
    --btn-switch: url("../assets/sol.svg");
    --bg-btn: #CCE5FF;
    --btn-git: #718096;
    --btn-linkedin: #2D9CDB; 
    --hover: lightgray;
}

.ptbr {
    --btn-lang: url("../assets/brasil.svg");
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-container);
    color: var(--text-color)
}
.profile {
    background-color: var(--bg-profile);
    border-radius: 12px;
    padding: 32px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
.profile img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
}
.profile h1 {
    margin: 0;
    font-size: 24px;
}
.profile p {
    color: #9CA3AF;
    margin-bottom: 24px;
}
#switch {
    position: relative;
    margin: 15px auto;
    width: 70px;
}

.light #switch button {
    right: 0;
    left: initial;

}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--btn-switch) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    left: 0;
}
#switch span{
    display: block;
    border-radius: 9999px;
    width: 64px;
    height: 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
}

#switch-lang {
    position: relative;
    margin: 15px auto;
    width: 70px;
}

#switch-lang button{
    width: 32px;
    height: 32px;
    background: white var(--btn-lang) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    left: 0;
}

.ptbr #switch-lang button {
    right: 0;
    left: initial;

}

#switch-lang span{
    display: block;
    border-radius: 9999px;
    width: 64px;
    height: 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: none;
    outline: none;
    border: none;
}


.redes_sociais{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.btn {
    cursor: pointer;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
}
.btn-portfolio { background-color: var(--bg-btn) ; }
.btn-contact { background-color: var(--bg-btn); }
.btn-sumary {background-color: var(--bg-btn);}
.btn-github { width: 50%; background-color: var(--btn-git); }
.btn-linkedin { width: 50%; background-color: var(--btn-linkedin); }

.btn:hover {
    background-color: var(--hover);
}

@media (max-width: 768px) {
    .profile{
        margin: 30px;
    }
}
