<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto</title>
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="profile">
        <img src="../../public/assets/user.jpg" alt="Profile Picture" />
        <h1>@edubatageli</h1>
        <p>Sistem Analyst | Agent Engineer (A.I)</p>
        <div class="buttons">
          <a href="#" class="btn btn-portfolio">Portfolio</a>
          <a href="#" class="btn btn-contact">Contact</a>
          <a href="../../src/views/sumary.html" class="btn btn-contact">Summary</a>
        
          <div class="redes_sociais">
            <a href="#" class="btn btn-github">Github</a>
            <a href="#" class="btn btn-linkedin">Linkedin</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
