<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto</title>
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body class="">
    <div class="container">
      <div class="profile">
        <img src="../../public/assets/user.jpg" alt="Profile Picture" />
        <h1>@edubatageli</h1>
        <p id="description">Sistem Analyst | Agent Engineer (A.I)</p>

        <div id="switch" onclick="alterMode()">
          <button></button>
          <span></span>
        </div>

        <div id="switch-lang" onclick="alterLang()">
          <button></button>
          <span></span>
        </div>

        <div class="buttons">
          <button class="btn btn-portfolio" id="btn-portfolio">Projects</button>
          <button class="btn btn-sumary" id="btn-sumary">Summary</button>
        
          <div class="redes_sociais">
            <a href="https://github.com/EduBatageli" target="_blank" class="btn btn-github">Github</a>
            <a href="https://www.linkedin.com/in/eduardo-moura-batageli-5b4250240/" target="_blank" class="btn btn-linkedin">Linkedin</a>
          </div>
        </div>
      </div>
    </div>

    <script src="../../script.js"></script>
  </body>
</html>
