<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/style-projects.css" />
  </head>
  <body>
    <div class="container">
      <div class="profile">
        <img
          src="../../public/assets/user.JPEG"
          alt="Eduardo Batageli"
          class="profile-image"
        />
        <div class="profile-info">
          <h1>Eduardo Batageli</h1>
        </div>
        <div>
            <button id="button-back">Back</button>
        </div>
      </div>
      <div class="projects-grid">
        <div class="project-card">
          <div class="project-content">
            <h3 class="project-title" id="titulo_projeto1">AI Recipe Generator</h3>
            <p class="project-description" id="desc_projeto1">
              Intelligent agent that generates personalized recipes based on the ingredients provided.
            </p>
            
            <div class="project-tags">
              <span class="tag">Agent IA</span>
              <span class="tag">Python</span>
              <span class="tag">Streamlit</span>
            </div>
            <div class="project-links">
              <a href="https://github.com/EduBatageli/recieitas_ia" class="project-link">GitHub</a>
            </div>
          </div>
        </div>

        <div class="project-card">
          <div class="project-content">
            <h3 class="project-title" id="titulo_projeto2">Password Manager</h3>
            <p class="project-description" id="desc_projeto2">
              A secure and user-friendly password manager that allows users to store, organize, and access their credentials.
            </p>
            <div class="project-tags">
              <span class="tag">Python</span>
              <span class="tag">Flask</span>
            </div>
            <div class="project-links">
              <a href="https://github.com/EduBatageli/GerenciadorDeSenha" class="project-link">GitHub</a>
            </div>
          </div>
        </div>

        <div class="project-card">
          <div class="project-content">
            <h3 class="project-title" id="titulo_projeto3">News Summary Automation</h3>
            <p class="project-description" id="desc_projeto3">
              A smart automation flow that collects RSS feeds, summarizes the content using AI (Groq), and delivers a daily digest directly to Telegram.
            </p>
            <div class="project-tags">
              <span class="tag">n8n</span>
              <span class="tag">AI model</span>
              <span class="tag">Telegram Bot</span>
            </div>
            <div class="project-links">
              <a href="https://youtu.be/qG_ud2MKuzw" class="project-link">Youtube</a>
            </div>
          </div>
        </div>

        <script src="../../script/script-projects.js"></script>
      </div>
    </div>
  </body>
</html>
