<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto</title>
    <link rel="stylesheet" href="../../public/css/style-sumary.css" />
  </head>
  <body>
    <div class="container">
      <div class="profile">
        <img
          src="../../public/assets/user.jpg"
          alt="Eduardo Batageli"
          class="profile-image"
        />
        <div class="profile-info">
          <h1>Eduardo Batageli</h1>
        </div>
        <div>
            <a id="button" href="#">Back</a>
        </div>
      </div>

      <div class="section">
        <h2 class="section-title">About Me</h2>
        <p>
          Systems Analyst with solid expertise in automation, systems
          integration, and business process optimization. Passionate about
          artificial intelligence, I am constantly seeking to develop innovative
          solutions that enhance operational efficiency, minimize errors, and
          deliver measurable results, such as cost reduction and increased
          productivity
        </p>
      </div>

      <div class="section">
        <h2 class="section-title">Technical Skills</h2>
        <div class="skills">
          <span class="skill-tag">Python</span>
          <span class="skill-tag">A.I Agents</span>
          <span class="skill-tag">Git</span>
          <span class="skill-tag">PHP</span>
          <span class="skill-tag">Google apps script</span>
        </div>
      </div>

      <div class="section">
        <h2 class="section-title">Professional Experience</h2>
        <div class="timeline-item">
          <h3 class="timeline-title">Systems Analyst and Agent Engineer</h3>
          <p>Skyone | 2024 - Present</p>
          <p>
            Developing system integrations, implementing improvements, and
            automating processes through artificial intelligence agents.
            Conducting process validation and driving continuous improvement of
            internal processes, with a focus on efficiency, innovation, and
            operational optimization.
          </p>
        </div>
        <div class="timeline-item">
          <h3 class="timeline-title">Cloud Solutions Architech</h3>
          <p>Skyone | 2023 - 2024</p>
          <p>
            Collaborating with the architecture team in designing projects for
            new clients and executing upgrades in cloud environments (Oracle,
            AWS, Azure) for existing clients, ensuring high performance,
            security, and scalability of the implemented solutions.
            Additionally, working alongside the Customer Success team to
            validate environments and drive client retention, fostering
            satisfaction and ongoing success in their operations
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
